.container {
  width: 63vw;
  height: 85vh;
  margin: 30%;
  margin-top: 6%;
  background-image: linear-gradient(180deg, rgb(8, 139, 254), rgb(136, 255, 0));
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6%;
}
.top-bar input {
  border-radius: 12px;
  padding: 6px;
}
.weatherimage img {
  width: 33%;
  height: 12%;
  margin-left: 36%;
}
.temp {
  font-size: 2rem;
  margin-left: 48%;
}
.location {
  font-size: 2rem;
  margin-left: 3%;
}
.temp-location {
  display: flex;
}
.humidity-percent {
  font-size: 1.5rem;
  margin-left: 48%;
}
.wind-speed,
.text {
  font-size: 1.5rem;
  margin-left: 48%;
}
